header {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 2rem;
  margin-bottom: 20px;
}
#right-header {
  display: flex;
  gap: 50px;
}
#form-search {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#id-search {
  width: 100%;
  padding: 10px;
}
#id-submit {
  width: 100%;
  padding: 5px;
}
#view-product {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 10px;
}
